.logo {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.5s ease infinite alternate;
  font-family: "WendyOne";
  // font-size: 80px;
  // color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc,
    0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent,
    0 10px 10px rgba(0, 0, 0, 0.4);
}

.logo:nth-child(2) {
  animation-delay: 0.1s;
}
.logo:nth-child(3) {
  animation-delay: 0.2s;
}
.logo:nth-child(4) {
  animation-delay: 0.3s;
}
.logo:nth-child(5) {
  animation-delay: 0.4s;
}
.logo:nth-child(6) {
  animation-delay: 0.5s;
}
.logo:nth-child(7) {
  animation-delay: 0.6s;
}
.logo:nth-child(8) {
  animation-delay: 0.7s;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc,
      0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
